
bin/
obj/
ExpensesAPI/obj
.publish/
out/
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.props
*.targets
*.cache
*.log
*.swp
*.swo
~$*
*.tmp
*.dll
*.exe
*.app
*.apk
*.manifest
*.pdb
*.opendb
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.targets
*.csproj.nuget.g.props
project.lock.json
project.fragment.lock.json
*.vsix
*.appx
*.appxbundle
*.log
*.tlog
TestResults/
*.TestResults
.trx
.coverage
*.coveragexml
*.nupkg
*.snupkg




